html {
	min-height: 100vh;
	padding: 2rem;
	border: ridge 20px rgba(0, 0, 0, 0.4);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#spacer {
	height: 88px;
	border-top: 1px solid var(--border);
	@media (max-width: 1024px) {
		height: 48px;
	}
}

.ticks {
	position: relative;
	width: 100%;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: -4.5px;
		border: 5px solid transparent;
	}

	&::before {
		left: 0;
		border-left-color: var(--border);
	}
	&::after {
		right: 0;
		border-right-color: var(--border);
	}
}

.login-form {
	display: flex;
	flex-direction: column;
}

.login-buttons {
	display: flex;
	justify-content: space-between;
}
